.features {
	padding-top: 60px;

	&__list {
		list-style: none;
	}
}


@media screen and (max-width: 767px) {
	
	.features__item:not(:first-child) {
		margin-top: 30px;
	}
}


@media screen and (min-width: 768px) {

	.features {
		
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: -15px;
		}

		&__item {
			margin: 15px;
			flex-basis: calc(100% / 2 - 30px);
		}
	}
}


@media screen and (min-width: 1200px) {

	.features {
		padding-top: 94px;
		
		&__item {
			flex-basis: calc(100% / 4 - 30px);
		}
	}
}