.mail {
	color: var(--secondary-color);
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition-property: color, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&__icon {
		margin-right: 8px;
		width: 14px;
		height: 10px;
		fill: var(--secondary-color);
		transition-property: fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		.page-header__mail:focus &,
		.page-header__mail:hover & {
			fill: var(--accent-color);
		}
	}
}


.tel {
	color: var(--secondary-color);
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition-property: color, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&__icon {
		margin-right: 8px;
		width: 10px;
		height: 14px;
		fill: var(--secondary-color);
		transition-property: fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		.page-header__tel:focus &,
		.page-header__tel:hover & {
			fill: var(--accent-color);
		}
	}
}


@media screen and (min-width: 768px) {
	.mail {
		font-size: 12px;
	}
	.tel {
		font-size: 12px;
	}
}


@media screen and (min-width: 1200px) {
	.mail {
		display: inline-flex;
		align-items: center;
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		line-height: 1.14;

		&__icon {
			width: 16px;
			height: 12px;
		}
	}
	.tel {
		display: inline-flex;
		align-items: center;
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		line-height: 1.14;

		&__icon {
			width: 10px;
			height: 16px;
		}
	}
}
