.item {

	&__icon-box {
		display: flex;
		justify-content: center;
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: var(--grey-background);
		margin-bottom: 30px;
	}

	&__icon-link {
		pointer-events: none;
	}

	&__icon {
		fill: var(--primary-color);
	}

	&__subtitle {
		color: var(--primary-color);
		font-weight: bold;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__description {
		color: var(--secondary-color);
		font-weight: normal;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
}
