.logo {

	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-decoration: none;

	&--header {
		color: var(--primary-black-color);
	}

	&--footer {
		color: var(--primary-white-color);
	}
}


@media screen and (max-width: 767px) {
	
	.logo {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}


@media screen and (min-width: 768px) {
	
	.logo {
		padding-top: 26px;
		padding-bottom: 26px;
	}
}


@media screen and (min-width: 1200px) {
	
	.logo {
		margin-right: 93px;
		padding-top: 24px;
		padding-bottom: 25px;
		font-size: 26px;
		line-height: 1.19;
	}
}