.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 582px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	background-color: var(--white-background);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition-property: transform;
	transition-duration: 1250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	.is-hidden & {
		transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
	}

	&__close-button {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		top: 8px;
		right: 8px;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		cursor: pointer;
	}

	&__close-icon {
		fill: var(--primary-black-color);
		transition-property: fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		.modal__close-button:focus &,
		.modal__close-button:hover & {
			fill: var(--accent-color);
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
	}
}
