:root {
	--primary-color: #212121;
	--secondary-color: #757575;
	--accent-color: #2196f3;
	--primary-white-color: #fff;
	--primary-black-color: #000;
	--white-background: #fff;
	--black-background: #2f303a;
	--grey-background: #f5f4fa;
	--portfolio-project-background: #eeeeee;
}